$black: #000000;
$white: #ffffff;
$banner-card-color: #FFF3E3;
$titleh2-color: #B88E2F;
$text-color: #333;
$para-color:#666;
$price-tabel:#F4F5F7;
$gray3:#898989;
$gray1: #3A3A3A;
$gray4: #B0B0B0;
$disRainge: #E97171;
$footerLtitle: #9F9F9F;
$footerBr:#D9D9D9;
$prototpbg:#FCF8F3;
$loginTheme:#779341;
$logintext1: #8D8D8D;
$gray2: #ADADAD;
$loginLblue:#4285F4;
$gwrapperColor: #d0e1ff;
$glassWhite:rgba(255, 255, 255, 0.5);
